<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shanin personal website</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }
        html, body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            align-content: center;
            justify-content: center;
            font-family: 'Roboto Mono', monospace;
            font-size: 2vw;
        }
        
        .cover {
            display: flex;
            align-items: center
        }

    </style>
</head>
<body>
    
    <div class="cover">
        <h1>
            Comming Soon...
        </h1>
    </div>
</body>
</html>